extends layout
doctype  html

block content
    h1= "FSE Chat Room"
    p Welcome to #{title}
    //
    div #{time}11
    ul
        li Item A
        li Item B
        li Item C

    input(type='checkbox', checked)
    input(type='checkbox' name='agreement' checked


